.register-text-name > div {
    float: left;
    width: 42.5%;
    margin-left: -3%;
    padding-left: 30px;
}

.link-to-login{
    font-size: 12px;
    color: #19b5fe;
    margin-left: 135px;

}

.link-to-login:hover {
    color: #674172;
}
